<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Learnly</title>
    <link rel="stylesheet" href="../../../../css/app.css">
</head>
<body>
    <section id="todoapp"></section>
    <script src="http://fb.me/react-0.13.1.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.1.js"></script>
    <script src="js/components/TodoApp.react.js" type="text/jsx"></script>
    <script src="js/app.js" type="text/jsx"></script>

</body>
</html>